{% extends 'base.html.twig' %}

{%block title 'My Agency' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>My Agency</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora sint commodi facere, sequi in perferendis esse repudiandae culpa obcaecati. Veritatis eum fugit totam repellendus labore impedit quas quo culpa animi!</p>
    </div>
{% endblock %}